<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Las Vegas Chatbot</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/popupChatbot.css">

</head>
<body>

    <h1 style="color: white;
        font-family: sans-serif;
        text-align: center;
        padding-top: 5px;">LasVegas.Net Virtual Assistant</h1>
        
    <button type="button" id="openBtn" class="open-button btn btn-primary rounded-circle" onclick="openForm()"><i class="fas fa-comments fa-2x chat_icon"></i></button>

    <div class="chat_window" id="chatUI">
        <div class="top_menu">
            <!-- <div class="buttons">
                <div class="button close" onclick="closeForm()">
                    
                </div>
                
                <div class="button maximize" onclick="maxForm()">
                    
                </div>

                <div class="button minimize" onclick="minForm()">
                    
                </div>
                
            </div> -->

            <div class="title">
                <img src="/img/avatar.jpg" width="32" height="32" style="border-radius: 50%;">    Canny
            </div>

            <div class="actions">
                <div class="button sizing_button" style="font-size: 14px;">
                    <i id="expandBtn" class="fas fa-expand-arrows-alt fa-lg" style="display: none;" onclick="maxForm()"></i>
                    <i id="compressBtn" class="fas fa-compress-arrows-alt fa-lg" onclick="minForm()"></i>
                </div>
                <div class="button close_button">
                    <i class="fas fa-times fa-lg" onclick="closeForm()" style="font-size: 26px;"></i>
                </div>
            </div>
            
        </div>

        <ul class="messages"></ul>

        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Type your message here..." />
            </div>

            <div class="voice_message">
                <i class="microToggle fas fa-microphone fa-2x mic-black" title="Click to start recording..."></i>
                <!-- <i class="fas fa-microphone-slash fa-2x"></i> -->
            </div>

            <div class="send_message">
                <!-- <div class="icon"></div> -->
                <div class="text"><i class="fas fa-chevron-circle-right fa-lg"></i></div>
            </div>
        </div>
    </div>

    <!-- Message -->
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>

    <!-- Image -->
    <div class="image_template">
        <img style="width: 50%; height: 50%; margin: 20px" />
    </div>

    <!-- Card -->
    <div class="card_template">
        <a href="#" class="cardInfo" target="_blink"></a>
    </div>

    <!-- Payload -->
    <div class="payload_template">
        <div class="payloads" style="text-align: center;"></div>
    </div>

    <!-- Buttons -->
    <div class="button_template">
        <div class="myButton"></div>
    </div>

    <!-- <script src="/js/jquery-3.3.1.slim.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <script src="/js/handleMessage-webpack.js"></script>
    <script src="/js/handleUi.js"></script>
</body>
</html>