body {
    background-color: #7a00ff;
}

.open-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: solid 3px;
    display: none;
}

.close-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.chat_icon {
    color: white;
}

.mic-red {
    color: red;
    opacity: 1;
}

.mic-black {
    color: black;
    opacity: 0.5;
}

/* https://bootsnipp.com/snippets/ZlkBn */

.chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
    /* display: none; */
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top_menu .buttons .button.close {
    background-color: #f5886e;
    /* text-align: center;
    vertical-align: middle;
    line-height: 11px; */
}

.top_menu .buttons .button.close > i {
    position: relative;
    top: calc(50% - 12px);
    right: calc(50% - 11px)
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top_menu .buttons .button.minimize > i {
    position: relative;
    top: calc(50% - 14px);
    right: calc(50% - 10px)
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}

.top_menu .buttons .button.maximize > i {
    position: relative;
    top: calc(50% - 11px);
    right: calc(50% - 10px)
}

.top_menu .title {
    /* text-align: center; */
    color: #0694d8;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.top_menu .actions {
    position: absolute;
    top: 25px;
    right: 0px;
    padding-right: 10px;
}

.top_menu .actions .button {
    /* width: 16px; */
    /* height: 16px; */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    vertical-align: top;
}

.top_menu .actions > i {
    color: black;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 376px;
    overflow: scroll;
}
.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}
.messages .message.left .avatar {
    /* background-color: #f5886e; */
    background-image: url('/img/avatar.jpg');
    background-size: contain;
    background-size: cover;
    float: left;
}
.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}
.messages .message.left .text {
    color: #000000;
}
.messages .message.right .avatar {
    /* background-color: #fdbf68; */
    background-image: url('/img/user_avatar.png');
    background-size: contain;
    background-size: cover;
    float: right;
}
.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}
.messages .message.right .text {
    color: #000000;
}
.messages .message.appeared {
    opacity: 1;
}
.messages .message .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}
.messages .message .text_wrapper {
    display: inline-block;
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}
.messages .message .text_wrapper::before {
    border-width: 10px;
    margin-top: 0px;
}
.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #000000;
	/* background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%); */
	background-color:#03A9F4;
	border-radius:4px;
	border:1px solid #1c85b7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #5b8a3c; */
    opacity: 0.5;
    margin: 3px;
    margin-bottom: 15px;
}
.myButton:hover {
	/* background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%); */
	background-color: #ea4100;
    border: 1px solid #9e350c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.cardInfo {
	box-shadow: 0px 10px 14px -7px #000000;
	/* background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%); */
	background-color:#03A9F4;
	border-radius:4px;
	border:1px solid #1c85b7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #5b8a3c; */
    opacity: 0.5;
    margin: 3px;
    margin-bottom: 15px;
}
.cardInfo:hover {
	background-color: #ea4100;
    border: 1px solid #9e350c;
    color: white;
    text-decoration: none;
}
.cardInfo:active {
	position:relative;
	top:1px;
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 100px);
    position: relative;
    padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.bottom_wrapper .voice_message {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;

    margin-left: 7px;
}

.bottom_wrapper .voice_message > i {
    position: relative;
    top: calc(50% - 27px);
    opacity: 0.5;
}

.bottom_wrapper .voice_message > i:hover {
    opacity: 1;
}

.bottom_wrapper .send_message {
    /* width: 50px; */
    /* height: 50px; */
    /* display: inline-block; */
    /* border-radius: 50px; */
    /* background-color: #a3d063; */
    /* border: 2px solid #a3d063; */
    /* color: #fff; */
    cursor: pointer;
    /* transition: all 0.2s linear; */
    /* text-align: center; */
    float: right;
    padding-right: 5px;
}

.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}

.bottom_wrapper .send_message .text {
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
    color: #0694d8;
}

.message_template {
    display: none;
}

.payload_template {
    display: none;
}

.button_template {
    display: none;
}

.image_template {
    display: none;
}

.card_template {
    display: none;
}

/* End */